body {
    background-color: lightgray;
}

.container {
    background-color: white;
    width: 1280px;
    top: 78px;
    margin: auto;
}

.nav-list {
    justify-content: space-around;
    display: flex;
    padding-left: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
}
.picture {
    width: 100%;
}
.nav-item {
    list-style-type: none;
    display: inline-block;
}
.nav-link {
    text-align: center;
    color: #FF0000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding-right: 80px;
}

.text-header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 38px;
}

.info {
    padding-left: 25px;
    padding-right: 25px;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #373737;
    padding-bottom: 28px;
    margin: 0;
}

.button-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.main-button {
    background-color: #FF0000;
    border: #FF0000;
    padding: 18px 43px;
    border-radius: 12px;
}

.footer {
    text-align: right;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #373737;
    margin-top: 82px;
    padding-right: 105px;
}
